.sidebar {
    -fx-pref-width: 200; /* or whatever fits */
}

.sidebar > .toggle-button {
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 15 10 15;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-pref-height: 40;
    -fx-font-size: 14px;
    -fx-pref-width: 200; /* or whatever fits */
}

.sidebar > .toggle-button:selected,
.sidebar > .toggle-button:focused,
.sidebar > .toggle-button:hover {
    -fx-background-color: #7e7e7e;
    -fx-text-fill: #000;
}

.sidebar .label {
	-fx-font-size: 30px;
}
